####################################
# Python / Django
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.env.*
*.log

####################################
# Django media / static
####################################
media/
staticfiles/

####################################
# Virtual Environment
####################################
venv/
ENV/
env/
.venv/

####################################
# VS Code / IDE
####################################
.vscode/
.idea/
*.swp
*.swo

####################################
# Node / Vue
####################################
node_modules/
dist/
.cache/
.vite/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Testing / Coverage
####################################
htmlcov/
.coverage
coverage.xml
pytest_cache/

####################################
# Others
####################################
*.bak
*.tmp
